* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Titillium Web", sans-serif;
}

/** Beginning of styling for profile section **/

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.profile {
  width: 60vh;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  background: #cfd2cd;
  box-shadow: 0px 18px 18px 0 rgba(0, 0, 0, 0.26),
    0 2px 10px 0 rgba(0, 0, 0, 0.55);
}

.summary img {
  height: 120px;
  width: 120px;
  border-radius: 120px;
  border: 2px solid white;
  padding: 4px;
  box-shadow: 0px 8px 18px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.05);
}

.summary h1 {
  margin-top: 20px;
}

.summary h3 {
  margin-top: 15px;
  font-style: italic;
  margin-bottom: 20px;
}

.summary .button {
  border-radius: 2px;
  background-color: transparent;
  border: 2px solid black;
  padding: 6px;
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
}

.summary .button:hover {
  color: white;
  background-color: black;
  box-shadow: 0px 8px 18px 0 rgba(0, 0, 0, 0.12),
    0 2px 10px 0 rgba(0, 0, 0, 0.05);
}

.view-project-code {
  padding-top: 40px;
}
/** End of styling for profile section **/

/** Beginning of styling for social-links section **/

.code-repositories {
  float: left;
  width: 50%;
  padding-top: 30px;
}

.view-project-code {
  display: block;
  margin: 0 auto;
}

.summary .button{
  text-align: center;
  margin-top: 15px;
  transition: 0.3s all;
  text-decoration: none;
}

.fa-github {
  color: black;
}

.fa-codepen {
  color: black;
}

.fa-github:hover {
  color: white;
  transition: 0.3s all;
}

.fa-codepen:hover {
  color: white;
  transition: 0.3s all;
}

/** End of styling for social-links section **/

/** Beginning of styling for Projects section **/
.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 60px;
  padding: 2.2rem;
  margin: auto;
}

.card {
  height: 410px;
  width: 475px;
  box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.26),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: 0.3s ease-in;
  margin-top: 30px;
}

.img-wrap:hover .proj-img {
  transform: scale(1.1);
}

.project-img {
  height: 100%;
  width: 100%;
  object-fit: fill;
  transition: all 0.3s;
}

.card:hover {
  transform: scale(1.1);
  transition: 0.3s ease-out;
}

.text-container {
  padding-top: 8px;
  text-align: center;
}

/** End of styling for projects section **/

/** Device styling **/
@media only screen and (max-width: 1024px) {

  .container{
    display: block;
  }

  .profile {
    width: 100%;
  }

  .profile img{
    margin-top: 10px;
  }

  .projects{
    grid-template-columns: 1fr;
    margin: auto;
  }

  .card{
    margin: auto;
    margin-top: 2rem;
  }

}

@media only screen and (max-width: 768px) {

  .profile {
    width: 100%;
  }

  .summary img{
    margin-top: 3vh;
  }
}

@media only screen and (max-width: 425px) {

  .summary{
    height: 150px;
    margin-bottom: 40px;
  }

  .profile{
    height: 475px;
    padding-bottom: 10px;
    font-size: 0.9rem;
  }

  .view-project-code{
    height: 300px;
    max-width: 50%;
    clear: both;
    margin-top: 80px;
  }

  .summary img{
    height: 100px;
    width: 100px;
  }

  .card {
    height: 300px;
    width: 300px;
  }

  .text-container h2, p {
    font-size: 1em;
    padding: 4px;
  }

  a{
    height: 20px;
    width: 20px;
    font-size: 0.5em;
  }
}

@media only screen and (max-width: 320px){
  
  .card {
    height: 270px;
    width: 270px;
  }

  .text-container h2, p {
    font-size: 0.9em;
    padding: 4px;
  }
}
/** Device styling **/
